.ul{
    list-style: none;
    text-align: justify;
  }
  
  
  .submit-button{
    background-color: chartreuse;
    border-radius: 10cm;
  }
  .li-individual{
    margin-bottom: 15%;
  }
  
  .App-header {
    background-color: #adc8fe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  