.wrapper {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    /* 使包含元素占满整个视口高度 */
    border: 3px solid #000000;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 15%;
    margin-right: 35%;
    padding-left: 30px;
            /* 左边距 */
    padding-right: 30px;
            /* 右边距 */
}
.inputgroup{
    width: 100%;
}
.button{
    width: 100%;
    margin-bottom: 10px;
}